[Unit]
Description=Periodic alert check for eBay CF

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=ebaycf-alertcheck.service

[Install]
WantedBy=timers.target
